<app-header></app-header>

<section class="py-5" style="min-height: 100vh;">
    <div class="container">
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-10 col-md-12 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <h3 class="mb-5 text-center">{{juego.nombre}}</h3>

                        <div class="row mb-4">
                            @if(hayArchivoCargado){
                            <div class="col-md-6">
                                <img [src]="urlTemporal" alt="..." class="img-thumbnail avatar"
                                    style="max-height: 300px;">
                            </div>
                            }
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <p><strong>Nombre: </strong> {{juego.nombre}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Clasificación: </strong> {{juego.clasificacion}}</p>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"><strong>Descripción:</strong></label>
                            <textarea readonly class="form-control" rows="3">{{juego.descripcion}}</textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"><strong>Requerimientos:</strong></label>
                            <textarea readonly class="form-control" rows="3">{{juego.requerimientos}}</textarea>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <p><strong>Precio: </strong> ${{juego.precio}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Lanzamiento: </strong> {{juego.fechaLanzamiento}}</p>
                            </div>
                        </div>

                        <div class="row">
                            @if(yaEstaComprado){
                            <div class="col-12">
                                <button class="btn btn-success w-100 py-3" disabled>Ya lo tienes</button>
                            </div>
                            } @else {
                            <div class="col-12 mt-2">
                                <button [routerLink]="['/juegos/compra', juego.nombre]"
                                    class="btn btn-primary w-100 py-3">Comprar</button>
                            </div>
                            }
                            <div class="col-12 mt-3">
                                <button type="button" routerLink="/juegos"
                                    class="btn btn-secondary py-3 w-100">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if(hayJuego){
            @if(comentariosHabilitados && yaEstaComprado){
                 <app-comentarios-component [juego]="juego" [yaEstaComprado]="yaEstaComprado"></app-comentarios-component>
            }
        }

    </div>
</section>