<div class="card">
    <div class="card-header">
        {{empresa.nombre}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Nombre: {{empresa.nombre}}</h5>
        <div class="row">

            <div class="col-md-6">
                @if(urlFoto){
                <img [src]="urlFoto" class="img-thumbnail avatar" width="150">
                }
            </div>

            <div class="col-md-6">

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    title="Eliminar" (click)="eliminarAccion()">
                    <i class="bi bi-trash"></i>
                </button>
                <a routerLink="/empresas/edicion/{{empresa.nombre}}" class="btn btn-primary">Editar</a>
            </div>
        </div>
        
    </div>
</div>