<div class="card h-100">
    <div class="card-header">
        {{grupo.nombre}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Nombre: {{grupo.nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Integrantes: {{ grupo.numeroIntegrantes }}</h6>
        <div class="row">

            <div class="col-md-6">
                <i class="bi bi-people-fill" style="font-size: 80px; color: #6c757d;"></i>
            </div>

            <div class="col-md-6 d-flex align-items-start gap-2">
                <button type="button" class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteModal"
                    title="Eliminar" (click)="eliminarAccion()">
                    <i class="bi bi-trash"></i>
                </button>

                <a [routerLink]="['/grupos/edicion', grupo.id]" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>